@charset "UTF8";

@import url('https://fonts.googleapis.com/css2? family= Edu+NSW+ACT+Foundation:wght@400;500;700 & family= Passion+One:wght@400;700; 900 & display=trocar');

@import url('https://fonts.googleapis.com/css2? family= Passion+One:wght@400;700; 900 &família = Quadrado + Peg & display=trocar');

:root {
    --cor06: #8882767c;
    --cor07: #B6BF6F;
    --cor08: #F28B0C;
    --cor09: #64729473;
    --cor10: #F2780C;
    --fonte01: 'Edu NSW ACT Foundation', cursive;
    --fonte02: 'Square Peg', cursive;
}
 * {
    margin:  0px;
    padding: 0px;
}
body {
    background-color: var(--cor06);

    
}
header h1 {
    font-family: var(--fonte02);
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 3em;   
    border-radius: 10px 0px; 
}
header p {
    color: white;
    font-family: var(--fonte02);
    font-weight: bold;
    padding-top: 30px;
    font-size: 1.4em;
     }
header {
    background-color: var(--cor07);
    padding: 50px;
    text-align: center;
    border-radius: 10px 0px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
    }


nav {
    color: white;
    font-family: var(--fonte02);
    padding-top: 20p;
    padding-bottom: 20px;
    text-align: left;
    border-radius: 10px 0px;
}
nav > a {
    color: white;
    padding-bottom: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;   
}
nav :hover {
    background-color: var(--cor09);
    color: var(--cor08);
}
main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
main h1 {
    color: white;
    background-color: var(--cor07);
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
    font-family: var(--fonte01);
    padding-top: 20px;
    border: 2px;
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
    border-radius: 10px 0px;
}
main h2 {
    color: white;
    background-color: var(--cor07);
    text-align: center;
    font-size: 2em;
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
    border-radius: 10px 0px;
}
article  p {
    font-family: var(--fonte02);
    padding: 3px;
    
    font-size: 1.3em;
    font-weight: bold;
}
section#img01 {
    background-image: url("imagens/20180805_141006.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
main img {
    width: 70%;
    margin: auto;
    display: block;
}
aside {
    
    min-height: 300px;
    max-width: 800px;
}
aside > p {
    color: white;
    background-color: var(--cor07);
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
    padding: 20px;
    text-align: center;
    font-weight: bold;


}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

aside > ul {
    background-color: var(--cor07);
    list-style-type:'\2714\00A0\00A0'; 
    padding-left: 10px;
    list-style-position: inside;
    columns: 2;
}
table {
    width: 400px;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
}
td {
    border: 1px solid black;
}
footer {
    text-align: center;
    font-weight: bold;
}
   